# Node
node_modules/
dist/
.env

# Frontend (Vite)
client/node_modules/
client/dist/

# Backend (Express + TS)
server/node_modules/
server/dist/
server/.env
server/prisma/migrations/
server/prisma/dev.db
server/prisma/dev.db-journal


# System
.DS_Store
*.log
